*{
    box-shadow: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #DDD;
    font-family: sans-serif;
}

.main{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.ttt-container{
    background: #14BDAC;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 10px 10px 15px #000 ;
}

.ttt-container .ttt-header{
    color: #FFF;;
    text-align: center;
    font-size: 25px;
    margin: -20px;
}

.sub-header{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.endgame{
    float: left;
    font-size: 25px;
    padding: 6px;
}

.replay-container button{
    float: right;
    font-size: 25px;
    padding: 6px;
    border: none;
    background: #14BDAC;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    transition: all .25s ease;
}

.replay-container button:hover{
    box-shadow: 1px 1px 10px #000 ;
}

.game-grid{
    background: #0DA192;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 80px;
}

.game-cell{
    width: 100px;
    height: 100px;
    background-color: #14BDAC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 100px;
    color: #FFF;

}

@media only screen and (max-width: 540px){

    .ttt-container{
        margin: 25px;
        padding: 25px;
    }

    .game-cell{
        width: 80px;
        height: 80px;
    }

    .x::after {
        font-size: 100px;
      }
    
      .o::after {
        font-size: 125px;
      }
}


